<body id="newAlbum">
  <div class="container backbox">
    <h1 id="newAlbumHeader">Add a New Album:</h1>
    <br>
    <%= render "layouts/album_form", :object => @album %>
    <br>
    <h1 class="linkBack"><%= link_to "Return to albums", albums_path(@album) %></h1>
  </div>
</body>