
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h1><%= @album.title %></h1>

        <%= render "layouts/picture_form", :object => @picture %>
      </div>
    
  </div>
    <h3 class="linkBack"><%= link_to "Return to album", album_path(@album) %></h3>