/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
html {
  height: 100%;
}
body {
  background-image: linear-gradient(rgba(88, 88, 160, 0.993), rgba(250, 179, 26, 0.87));
  background-size: cover;
}
.albumCard {
  background: image-url('cheese.jpg');
  border: 3px solid rgb(0, 0, 0);
  background-size: cover;
  height: 8em;
  margin: .5em;
  margin-left: 4%;
  margin-right: 4%;
  filter: grayscale(0%);
}
.albumCard:hover {
  filter: grayscale(70%);
}
.gridText {
  a {
  background-color: black;
  color: bisque;
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  }
}
#addNewAlbum {
  background-color: rgba(255, 235, 205, 0.836);
  border: 3px solid black;
  background-size: cover;
  height: 8em;
  text-align: center;
  margin: .5em;
  margin-left: 4%;
  margin-right: 4%;
}
#newAlbumHeader {
  background-color: rgba(255, 235, 205, 0.836);
  border: 5px double black;
  text-align: center;
}
.newAlbumText {
  color: black;
  margin-top:40%;
  margin-bottom: 30%;
  display: flex;
  align-items: center;
  justify-content:center;
  text-decoration: none;
  a {
    text-decoration: none;
    color: black;
    }
}
#albumsHeader, .albumHeader {
  background-color: rgba(255, 235, 205, 0.836);
  color: black;
  border: 20px double black;
  padding: .25em;
  text-align: center;
  font-size: 64px;
  margin-bottom: .25em;
}
.pagination {
  margin-left: 20%;
  font-size: xx-large;
  display: inline-flex;
  a {
    color: black;
  }
}
a:hover {
  color:rgb(141, 28, 28)
}
#albumLink, #homeLink, .linkBack {
  a {
    text-decoration: underline;
    color: black;
    }
  text-align: center;
  a:hover {
    color:rgb(141, 28, 28)
  }
}
.form {
  text-align: center;
}
.albumPics {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  border: none;
  margin: .5em;
  margin-left: 4%;
  margin-right: 4%;
}
.albumPic {
  max-height: 8em;
  object-fit: cover;
}
// .albumPic:hover {
//   height: 20em;
//   width: 20em;
// }
.deleteLink {
  background-color: black;
}
.col-4 {
  text-align: center;
  a {
    text-decoration: underline;
    color: black;
  }
}