<%= render "layouts/errors", :object => @album %>

<h2><%= form_for [@album] do |f| %>
  <%= f.text_field :title, class: "form-control" %>
  <span id="newAlbumSubmit"><%= f.submit %></span>
<% end %></h2>
